<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>News</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>

        <script src="https://www.w3schools.com/lib/w3.js"></script>        
    </head>

    <body>
        <header style="padding-bottom: 40px">
            <span w3-include-html="../navigation"></span>
        </header>        

        <div class="main" style="padding: 15px;">
            
           <table>
                <tr class="row" th:each="news: ${news}">
                    <div style="border: 2px solid black;" class="col-xs-offset-3 col-xs-4">
                        <h4><a th:href="@{/news/{id}(id=${news.id})}" th:text="${news.header}">header</a></h4>
                         <p th:text="${news.ingres}">ingres</p>
                    </div>
                </tr>
            </table>          
        </div>
    </body>
</html>

<script>
    w3.includeHTML();
</script>
