<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>News</title>
    </head>

    <body>
        <!-- <table>
            <tr>
                <th>News name</th>
                <th></th>
            </tr>
            
            <tr th:each="news : ${news}">
                <span th:text="${news.header}">News header</span> 
                <span th:text="${news.createdAt}">News creat</span>
                <form th:action="/news/@{/{id}(id=${news.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form>
            </tr>
        </table> -->
        
        <h2 class="bg-success">Add a new piece of news</h2>
        
        <div style="padding: 15px;">
            
            <form th:action="@{/news}" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <label class="col-xs-4">Otsikko</label>
                    <input class="col-xs-3" type="text" name="header"/>

                    <br><br>
                </div>

                <div class="row">
                    <label class="col-xs-4">Ingressi</label>
                    <input class="col-xs-3" type="text" name="ingres"/>

                    <br><br>
                </div>

                <div class="row">
                    <label class="col-xs-4">Teksti</label>
                    <textarea class="col-xs-8" rows="10" name="text"></textarea>
                </div>

                <div style="margin-top: 20px;" class="row">
                    <label class="col-xs-4">Kategoria</label>

                    <select name="categoryId">
                        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}">Category Name</option>
                    </select>

                    <br><br>
                </div>

                <div class="row">
                    <label class="col-xs-4">Kuva</label>
                    <input type="file" name="file" id="file"/><br></br>
                </div>            

                <input class="btn btn-success" type="submit" value="Lisää"/>
            </form>         
        </div>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    </body>
</html>
