<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>News</title>
    </head>

    <body>
        <!-- <table>
            <tr>
                <th>News name</th>
                <th></th>
            </tr>
            
            <tr th:each="news : ${news}">
                <span th:text="${news.header}">News header</span> 
                <span th:text="${news.createdAt}">News creat</span>
                <form th:action="/news/@{/{id}(id=${news.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form>
            </tr>
        </table> -->
        
        <h2 class="bg-success">Add a new piece of news</h2>
        
        <form th:action="@{/news}" method="POST" enctype="multipart/form-data">
            Header:<br></br>
            <input type="text"  name="header"/><br></br>
            Ingressi:<br></br>
            <input type="text"  name="ingres"/><br></br>
            Text:<br></br>
            <textarea name="text" rows="10" cols="30"></textarea><br></br>
            Category:
             <select name="text">
                <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}">Category Name</option>
            </select><br></br>
            Add a photo: 
            <input type="file" name="file" id="file"/><br></br>
            <input type="submit" value="add"/>

        </form>
  
        <br></br>
        <a href="/">Go back to frontpage</a>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>        
    </body>
</html>
