<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>News name</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>

    <body>
    
        <header style="padding-bottom: 40px">
            <span w3-include-html="../navigation"></span>
        </header>
        
        <div class="main" style="padding: 15px;">
            
            <h1 class="bg-success" th:text="${news.header}">header</h1>
        
            <span style="margin-bottom: 30px;"/>
                  
            <div style="padding: 15px;">
                <strong>
                    <p th:text="${news.ingres}">ingressi</p>
                </strong>

                <span style="margin-bottom: 20px;"/>

                <p th:text="${news.text}">text</p>

                <span style="margin-bottom: 10px;"/>

                Luontihetki: <p th:text="${timestamp}">timestamp</p>
            </div>
        </div>
    </body>
</html>
