<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>


        <title>News name</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>

    <body>
        <h1 th:text="${news.header}">news header</h1>
        <p>published:</p>
        <p th:text="${news.createdAt}">news createdAt</p>
        <p>modified:</p>
        <p th:text="${news.updatedAt}">news updatedAt</p>        
        <h4 th:text="${news.ingres}">news ingressi</h4>
        <p th:text="${news.text}">news text</p>




        <p><a href="/">Go back to frontpage</a></p>
    </body>
</html>