<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        
        
        <title>News</title>
        
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
    </head>

    <body>
        <div class="bg-success" id="myTopnav">
            <a class="active" href="/addnews">Lisää uusi uutinen</a>
            <a class="active" href="/addcategory">Lisää uusi kategoria</a>
            <a class="active" href="/addcategory">Kategoriat</a>
            
        </div>
        <ul>
            
            <li th:each="category : ${categories}">
                <span th:text="${category.categoryName}">Category CategoryName</span> 
           
            </li>
            
        </ul>
        
        <ul>
            
            <li th:each="news : ${news}">
                <span th:text="${news.header}">News header</span> 
                <span th:text="${news.ingres}">News ingres</span>
            </li>
            
        </ul>
        

        
    </body>
</html>