<nav class="navbar navbar-inverse navbar-fixed-top">
  <div id="navigation-container" class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href ="/">Etusivu</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li><a class="active" href="/news">Kaikki uutiset</a></li>
          <li><a class="active" href="/categories">Kaikki kategoriat</a></li>
          <li><a class="active" href="/news/add">Uusi uutinen</a></li>
          <li><a class="active" href="/categories/add">Uusi kategoria</a></li>
          
          <li th:each="category: ${categories}">
              <a th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.name}">Category name</a>
          </li>
      </ul>
    </div>
  </div>
</nav>